<div class="container">
  <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="guardar()">
    <!-- Nombre -->
    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">Nombre</label>
      <div class="col-sm-10">
        <input class="form-control" formControlName="nombre" placeholder="Nombre de la persona" />
        <span class="form-text text-danger" *ngIf="campoEsValido('nombre')">
          Nombre obligatorio (3 caracteres mínimo)
        </span>
      </div>
    </div>

    <!-- Agregar Banda -->
    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">Agregar</label>
      <div class="col-sm-10">
        <div class="input-group">
          <input class="form-control" [formControl]="nuevaBanda" placeholder="Agregar banda"
            (keyup.enter)="agregarBanda()" />
          <button class="btn btn-outline-primary" type="button" (click)="agregarBanda()">Agregar</button>
        </div>
      </div>
    </div>

    <!-- Lista de Bandas -->
    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">Bandas</label>
      <div class="col-sm-10" formArrayName="bandas">
        <div class="input-group mb-1" *ngFor="let banda of bandasArr.controls; let i = index">
          <input class="form-control" [formControlName]="i" />
          <button class="btn btn-outline-danger" type="button" (click)="borrar(i)">Eliminar</button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <button type="button" class="btn btn-primary float-end" (click)="guardar()"
          [disabled]="myForm.invalid">Guardar</button>
      </div>
    </div>
  </form>

  <span>Valid</span>
  <pre>{{ myForm.valid }}</pre>
  <br />

  <span>Value</span>
  <pre>{{ myForm.value | json }}</pre>
  <br />

  <span>Agregar Banda</span>
  <pre>{{ nuevaBanda.valid }}</pre>
  <pre>{{ nuevaBanda.value }}</pre>
</div>